@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

#root {
  width:100%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  color:#191C1D;
  box-sizing: border-box;
}

.point{
  background-color: #00CC69;
  width: 10px;
  height: 10px;
  border-color: #Fbfdfd;
}

.exclamation-triangle-icon{
  color: #F40B0B;
  width: 14px;
  height:14px;
}

.right-content > *{
  border:1px solid #eff1f1;
  border-radius: 50%;
  width:48px;
  height:48px;
}

.speed-value{
  text-align: center;
}

.speed-unit {
  text-align: center;
  color: #5E76A1;
}
/* content */
.content{
    border-bottom: 1px solid #eff1f1;
}

/* ----------car-detail-------------- */
.car-detail-header{
  background-color: #001433;
}

.status-icon{
  width: 6px;
  height: 6px;
  background-color:#00CC69;
}

.badge{
  color: #FFFFFF;
  background-color: #F40B0B;
  font-size: 0.5rem;
  padding:3px 4px 3px 4px;
}

.car-detail-content{
  background-color: #FBFDFD;
}

.header-color {
  background-color: #EFF1F1;
}

.inverseOnSurface-color{
  color:#EFF1F1;
}

.outline-color{color:#5E76A1}

.primary-color{
  color:#0066FF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.image-line{
  width: 120px;
  height:90px;
  border-radius: 8px;
  border: 2px solid #FBFDFD;
  display: inline-block;
}

.current-photo{
  border: 2px solid #06f !important;
}
